@import '../../../assets/scss/iconfont.scss';
.video-container {
	position: relative;
	// overflow: hidden;
	.video {
		max-width: 672px;
		max-height: 420px;
		background-color: #fbdc77;
		border-radius: 20px;
		border: solid 1px #e3e4e5;
	}
	.show{
		display:show;
	}
	.hide{
		display:none;
	}
	.no-video {
		width: 672px;
		height: 420px;
		background-color: #000;
		border-radius: 20px;
		border: solid 1px #e3e4e5;
		display: flex;
		align-items: center;
		justify-content: center;
		.iconfont {
			font-size: 120px;
			color: #fff;
		}
	}
	.fail {
		position: absolute;
		left: -70px;
		top: 50%;
		// background: #fff;
		border-radius: 66px;
		z-index: 2;
		font-size: 70px;
		width: 66px;
		height: 66px;
		margin-top: -33px;
		color: #e64340;
	}
	.video-cover {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 999;
		border-radius: 20px;
	}
}
