// 文字截取
@mixin text-overflow() {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow: hidden;
	word-break: break-all;
	word-wrap: break-word;
}

@mixin word-break() {
	word-break: break-all;
	word-wrap: break-word;
	white-space: nowrap;
}

// No wrap
@mixin no-wrap() {
	word-break: normal;
	word-wrap: normal;
	white-space: nowrap;
}

// 清除浮动
@mixin clearfix() {
	&:before,
	&:after {
		content: " "; // 1
		display: table; // 2
	}
	&:after {
		clear: both;
	}
}

// Single side border-radius
@mixin border-top-radius($radius) {
	border-top-right-radius: $radius;
	border-top-left-radius: $radius;
}

@mixin border-right-radius($radius) {
	border-bottom-right-radius: $radius;
	border-top-right-radius: $radius;
}

@mixin border-bottom-radius($radius) {
	border-bottom-right-radius: $radius;
	border-bottom-left-radius: $radius;
}

@mixin border-left-radius($radius) {
	border-bottom-left-radius: $radius;
	border-top-left-radius: $radius;
}

// Center-align a block level element
@mixin center-block() {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// CSS image replacement
// Source: https://github.com/h5bp/html5-boilerplate/commit/aa0396eae757
@mixin hide-text() {
	font-size: 0;
	line-height: 0;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}

// 边框一像素
@mixin hairline-common() {
  content: ' ';
  position: absolute;
  pointer-events: none;
  box-sizing: border-box;
  transform-origin: center; /* cover wechat button:after default transforn-origin */
}

@mixin hairline($borderColor: #eee) {
  @include hairline-common;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  transform: scale(0.5);
  border: 0 solid $border-color;
}

@mixin hairline-bottom($border-color: #eee, $left: 0) {
  @include hairline-common;
  top: auto;
  left: $left;
  right: 0;
  bottom: 0;
  transform: scaleY(0.5);
  border-bottom: 1px solid $border-color;
}