@import '../../../assets/scss/iconfont.scss';
.file-container{
	position: relative;
	width: 780px;
	height: 180px;
	background-color: #ffffff;
	border-radius: 20px;
	padding: 45px;
	padding-top: 55px;
	display: flex;
	justify-content: space-between;
	.file-left {
		display: flex;
		flex-direction: column;
	}
	.file-name {
		display: inline-block;
		width: 344px;
		height: 48px;
		line-height: 20px;
		font-family: PingFang-SC-Medium;
		font-size: 51px;
		color: #303133;
		white-space:nowrap;
	}
	.suffix {
		vertical-align: baseline;
		display: inline-block;
		font-family: ArialNarrow;
		font-size: 51px;
		color: #303133;
	}
	.file-size {
		width: 83px;
		height: 30px;
		margin-top: 50px;
		padding-left: 17px;
		font-family: ArialNarrow;
		font-size: 42px;
		line-height: 20px;
		color: #979899;
	}

	.officeicon {
		margin-right: 50px;
		margin-top: 18px;
		width: 113px;
		height: 132px;
	}
	.fail {
		position: absolute;
		left: -70px;
		top: 50%;
		// background: #fff;
		border-radius: 66px;
		font-size: 70px;
		width: 66px;
		height: 66px;
		margin-top: -33px;
		color: #e64340;
	}
}