@import '../../../assets/scss/iconfont.scss';
.link-msg{
		padding: 45px;
    width: 640px;
    background-color: #f7f9fa;
    border-radius: 9px;
    .link-msg-title{
      width: 600px;
      height: 110px;
      font-family: MicrosoftYaHeiLight;
      font-size: 52px;
      font-weight: normal;
      font-stretch: normal;
      line-height: 54px;
      letter-spacing: 0px;
      color: #303133;
      overflow: hidden;
			text-overflow: ellipsis;
			word-break: break-all;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 2;
			font-weight: 700;
		}
    .row {
			margin-top: 45px;
			display: flex;
			justify-content: space-between;
			align-items: middle;
		}
    .link-msg-des{
      width: 530px;
      height: 141px;
      font-family: MicrosoftYaHeiLight;
      font-size: 45px;
      font-weight: normal;
      font-stretch: normal;
      line-height: 48px;
      letter-spacing: 0px;
      color: #979899;
      overflow: hidden;
			text-overflow: ellipsis;
			word-break: break-all;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 3;
		}

    .link-msg-img {
			margin: 10px;
      width: 132px;
      height: 132px;
      .officeicon {
				width: 132px;
				height: 132px;
			}
		}
    .link-msg-time {
      margin-top: 45px;
      height: 33px;
      font-family: MicrosoftYaHeiLight;
      font-size: 36px;
      font-weight: normal;
      font-stretch: normal;
      line-height: 84px;
      letter-spacing: 0px;
			color: #979899;
		}
}
